/* Form container styling */
.col-md-6 {
    margin-top: 50px;
}

/* Form title styling */
h3 {
    color: black;
    text-align: center;
}

/* Form styling */
form {
    margin-top: 20px;
}

/* Form label styling */
.form-group label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

/* Form input styling */
.form-control {
    width: 100%;
    padding: 15px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

/* Form submit button styling */
.btn-success {
    background-color: #4a4646;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #4a4646;
}
