/* Navbar styling */
.navbar {
   background-color: palevioletred;
}

.navbar-nav {
text-align: left;
margin: 0;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: white;
}

.nav-link:hover,
.nav-link.active {
    color: white; /* Color when hovered or active */
}

h1{
    text-align: center;
    color: rgb(228, 35, 100) ;
}

/* Page title styling */
.text-center {
    margin-top: 20px;
}

/* Container styling */
.container {
    margin-top: 20px;
}

/* Footer styling */
.footer {
    text-align: center;
    background-color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer span {
    font-size: 14px;
    color: black;
}

/* Optional: Add some spacing to the footer text */
.footer span::before {
    content: '|';
    margin: 0 10px;
    color: palevioletred;
}
